<div class="header">
<h1>Login Go Rush Warehouse</h1>
</div>
<% if (messages.error) { %>
  <%= messages.error %>
<% } %>
<form action="/login" method="POST">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required><br><br>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" required><br><br>
  </div><br>
  <center><button type="submit">Login</button></center>
</form>
<center><a href="/register">Register</a></center>
<style>

.header{
  text-align: center;
}

.form-group{
  text-align: center;

}


</style>